

.row.no-gutter {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.row.no-gutter [class*='col-'],
.row.no-gutter [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
    padding-top:0;
    padding-bottom:0;
}


@media only screen and (max-width: 990px){
    .hideIt{
        display:none;
    }
    .showIt{
        display:block;
    }
}

@media only screen and (min-width: 991px){
    .hideIt{
        display:block;
    }
    .showIt{
        display:none;
    }
}


@media only screen and (max-width: 690px){
    .hideIt2{
        display:none;
    }
    .showIt2{
        display:block;
    }
    #carImg{
        height:400px;
    }
    .webPic{
        height:700px;
    }
}

@media only screen and (min-width: 691px){
    .hideIt2{
        display:block;
    }
    .showIt2{
        display:none;
    }
    #carImg{
        height:350px;
    }
    .webPic{
        height: 700px;
    }
}






.tt a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.tt a:hover {
    color: #f1f1f1;
}

@font-face {
    font-family: 'PressStart2P';
    src: URL('PressStart2p.ttf') format('ttf');
}

.col-md-5 {
    width: 41.66666667%;
}

.progress-bar {
    line-height: 56px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    text-indent: 10px;
}

.flexStyle{
    text-align:center;
    color:white;
    padding-left:5%;
    padding-right:5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.flexRow{
    display:flex;
}


.flexCol{
    box-sizing: border-box;
    flex-basis: 30%;

}


.modal-lg{
    width: 750px;
}

#webImg{
    max-height:600px;
}
